@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f9fafb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #f9fafb;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
